footer {
    padding: 5px 0;
    background-color: #f8f8f8;
    float: center;
    text-align: center;
}

.list-inline{
	float: center !important;
	padding-left: 15%;

}

.links{
	padding: 1% 1%;
	float: center;
	text-align: center;


}


footer .footerLink{
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
	border:1.5px solid #757575;
	padding : 5px;

	margin: 5px;

	text-align: center;
	background-color: #757575;
	color:white;

}



@media(max-width:480px) {
	footer{
		padding: 2px 0;

	}
	footer h3{
		padding-left: 10%;
	}

}



@media(max-width:800px) {
	footer{
		padding:5px 0;

	}
	footer h3{
		padding-left: 10%;
	}

}


