
body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  width: 100%;
  height: 100%;


}

.container{
	width: 100%;
	height: 100%;

}

.cadre{
	padding-top: 100px;
	padding-bottom: 30px;
}


.cadre h1{
	color :white;
	text-align: center;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 3px black;
    padding-bottom: 60px;
}

.unfound{
	background: url(../img/404.jpg) no-repeat center center;


	position: center;

	width: 100%;
	height: 100%;

	padding-top: 20%;
	padding-bottom: 20%;


}

footer {
	bottom: 0px;
	width: 100%;
}



@media(max-width:480px) {
	.cadre{
		padding-top: 80px;
		padding-bottom: 20px;

	}

	.cadre h1{
		padding-bottom: 20px;

	}

}



@media(max-width:800px) {
	.cadre{
		padding-top: 50px;
		padding-bottom: 10px;

	}
	.cadre h1{
		padding-bottom: 50px;

	}

}

#footer {
    position: fixed;
    margin: 0;
}


