

.cadre{
	background-color: #00897B;
	padding-left: 15%;
	padding-right: 15%;
}


/*
#stationsDiv{
    background-color: #00897B;
    padding-bottom: 100px;
}
*/



#formulaireListe{
	background-color: white;
	border-radius: 3px;
	margin-bottom: 30px;

	padding: 10px 10px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);


}


.stationUnit{
	border-radius: 3px;
	background-color: white;

	margin-bottom: 15px;
	padding: 10px 10px;

	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);

	height: auto;
	display: inline-block;
	width: 100%;

}

.formInput{
	font-size: 14px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;

	margin-bottom: 20px;
	
	border : none;
	border-bottom:1px solid #757575;
}

.formInput:focus{
	 outline:none; 
}




.address{
	font-style: italic;
	text-transform: lowercase;

}
.bikes{
	float: right;

}

#star{
	color : yellow; 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.available{
	color : green;
	margin-left: 10px;

}
.unvailable{
	color : red;
	margin-left: 10px;

}

.btn-floating {
	background-color: black !important;
	float: right;
	width:25px;
	line-height: 25px;
	height: 25px;
	color:white;
	text-align: center;
	border-radius:50%;

}
.btn-details i{
	line-height: 25px;

}

.stationDetails{
	border-top:1.5px solid #757575;
	background-color: #F5F5F5;

}

#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;

}


@media(max-width:800px) {


	#stationsDiv{
    background-color: #00897B;
    padding-bottom: 10px;
    }

    .formInput{
    	width: 95%;
    	margin-left: 2%;
    	margin-right: 2%;
    	margin-bottom: 10px;
    }
    .cadre{
    	background-color: #00897B;
    	padding-left: 5%;
    	padding-right: 5%;
    }
}



}



@media(max-width:480px) {


	#stationsDiv{
    background-color: #00897B;
    padding-bottom: 60px;
    }

    .formInput{
    	width: 95%;
    	margin-left: 2%;
    	margin-right: 2%;
    	margin-bottom: 5px;
    }
    .cadre{
    	background-color: #00897B;
    	padding-left: 10%;
    	padding-right: 10%;
    }


}
