<div class = "cadre"  >
  <h1> Détail de la station </h1>

  <div class="stationUnit">

    <!-- Caractéristiques de la station -->

    <div class="col-md-6 ">
      <span class="name">Nom :  {{stationDetails.name}}</span>  

      <span ng-show="stationDetails.bonus==true" title ="Station fermée" style="color:red; text-align : center">
        <br>FERMEE </span>


        <span id = "star" ng-show="stationDetails.bonus==true" title ="Station Bonus" >
          <i class="fa fa-star"></i> </span>

        <span class ="bikes"> 

          <span ng-show="stationDetails.banking==true" title ="Terminal de paiement" >
            <i class="fa fa-credit-card" style ="color : grey"></i> </span>


          <span ng-class ="{true:'unvailable', false:'available'}[stationDetails.available_bikes==0]" title ="Vélos disponibles à la station" >
          {{stationDetails.available_bikes}}     <i class="fa fa-bicycle"></i> </span>

          <span ng-class ="{true:'unvailable', false:'available'}[stationDetails.available_bike_stands==0]" title ="Places disponibles" >
                  {{stationDetails.available_bike_stands}} <i class="fa fa-unlock-alt"></i></span>

        </span>

        <div> <br>La station comporte {{stationDetails.bike_stands}} places, au total.</div>


        <div class="address"> <br>{{stationDetails.address}}</div>

      </div>

      <!-- Affichage de la carte -->
      <div class="col-md-6 " >
        <ui-gmap-google-map center='map.center' zoom='map.zoom' id = "gmaps">

        <ui-gmap-marker idKey='marker.id' coords='marker.coords'></ui-gmap-marker>
        </ui-gmap-google-map>
    
      </div>

  </div>

</div>
