

<div class = "cadre">
    <h1> Informations sur le service Vélib </h1>

    <div class= "contenu">

        <div id = "informations">

        <p> Ce site est un projet étudiant destiné à aider les usagers du service vélib dans leur quotidient. S'appuyant sur l'<a href = 'https://developer.jcdecaux.com/#/opendata/vls?page=dynamic'>API de JCDECAUX</a>, il exploite en temps réel les données du service. </p>
        <br>
        <p>Attention, il peut arriver que l'ensemble de la base de données ne soit pas totalement exploitée</p>
        
        <ul> Ce site permet notamment de :
            <li> Rechercher une station par son nom et son adresse </li>
            <li> La situer sur une carte </li>
            <li> Generer un itinéraire entre deux stations </li>
        </ul>


        <ul> Lorsqu'il sera fini, il permettra de : 
            <li> Trouver les stations a proximité, et comment y aller </li>
            <li> Donner des statistiques sur l'ensembles des stations vélib d'Ile de France </li>

        </ul>


        <ul> Outils utilisés : 
            <li> Boostrap </li>
            <li> AngularJS </li>
            <li> MomentJS </li>
            <li> GoogleMap API </li>

        </ul>


    </div>


    </div> 



</div>
