

<div class = "cadre">
    <h1> Informations sur le service Vélib </h1>

    <div class= "contenu">

        <div id = "informations">

        <p> Ce site est un projet étudiant destiné à aider les usagers du service vélib dans leur quotidient. S'appuyant sur l'<a href = 'https://developer.jcdecaux.com/#/opendata/vls?page=dynamic'>API de JCDECAUX</a>, il exploite en temps réel les données du service. </p>
        <br>

        <ul> Ce site permet notamment de :
            <li> Rechercher une station par son nom et son adresse </li>
            <li> La situer sur une carte </li>
        </ul>


        <ul> Lorsqu'il sera fini, il permettra de : 
            <li> Trouver les stations a proximité, et comment y aller </li>
            <li> Proposer un itinéraire entre deux stations </li>
            <li> Donner des statistiques sur l'ensembles des stations vélib d'Ile de France </li>


        </ul>

    </div>


    </div> 



</div>
















