<div class = "cadre" >
    <h1> Itinéraire </h1>

    <div class= "contenu">

        <form id = "formulaire-itin" class="row">
            <div class="col-xs-12 col-md-12 col-lg-5">

            <input class = "choixStation" type="text" placeholder="DEPART" list="depart" ng-model="stationDepart" />
     
            <datalist id = "depart">
                <option class ="choix" ng-repeat="station in stations | limitTo: 200 " value = "{{station.number}}" label ="{{station.name}}"  />
            </datalist>
            </div>

            <div class="col-xs-12 col-md-12 col-lg-2" id = "arrow">

            <i class="fa fa-arrow-right"></i>

            </div>


            <div class="col-xs-12 col-md-12 col-lg-5">

            <input class = "choixStation" type="text" placeholder="ARRIVEE" list="arrivee" ng-model="stationArrivee" />
             
            <datalist id="arrivee">
                <select>
            <option ng-repeat="station in stations | limitTo: 200" value = "{{station.number}}" label ="{{station.name}}">{{station.name}}</option>
            </datalist>
            </select>
            </div>                 

            <div class="bouton-itin" >

                <a id = "submitItineraire" type="button" class="btn btn-default btn-lg"   ng-href = "#/depart/{{stationDepart}}/arrivee/{{stationArrivee}}">Rechercher un trajet</a>

            </div>





        </form>

    </div> 



</div>

