
<div class = "cadre">
    <h1> Statistiques </h1>

    <div class= "row">
        <div class= "col-lg-6">
            <div class="statsUnit"  style ="text-align : center">
                <h2>Repartition des tailles de stations</h2>

                <!-- Affiche un graphique présentant les tailles de station -->
                <canvas id="BikesPerStations"  width="400" height="400"></canvas>

                <div class = "legend">

                    Nombre total de stations : {{stations.length}}


                </div>

            </div>
        </div> 

        <div class= "col-lg-6">
            <div class="statsUnit" >
                <h2 style = "text-align : center" > Informations diverses</h2>

                <div class = "legend">
                    <!-- Affichage des statistiques récupérées depuis le controlleur -->

                    <p>Nombre total de stations : {{stations.length}}</p>

                    <p>Vélos disponibles : {{totalVelodispo}} <i class="fa fa-bicycle"></i> </p>

                    <p>Part de stations bonus <i class="fa fa-star"></i>: {{pStationBonus}} %</p>

                    <p>Part de stations disposant d'une borne de paiement <i class="fa fa-credit-card" style ="color : grey"></i>: {{pStationsBanking}} % </p>

                    <p>Part de stations ouvertes : {{pStationsOuvertes}} % </p>




                </div>

            </div>
        </div> 


    </div> 


</div>













