
<div class = "cadre"  ng-controller="StationCtrl">
    <h1> Les stations </h1>
        <p> <i class="fa fa-search"></i>  Recherche </p>

        <div class="row" id = "formulaireListe" >

          <div class="col-md-6 " id ="saisie">
            <form>
              <input class="formInput" type="text" placeholder = "Name search " ng-model="search.name">
              <input class="formInput" type="text" placeholder = "Address search " ng-model="search.address">
              <input type="checkbox" ng-model="search.status" ng-checked="status == 'OPEN'" > Station Ouvertes uniquement</br/>
       

            </form>
          </div>

          <div class="col-md-6 ">
 
          </div>



        </div>  

        

        <p> Les stations :</p>

        <div class ="stationUnit" ng-repeat = "station in stations | limitTo:50 | filter : search  " >

          <span class="name">Name :  {{station.name}}</span>

          <span ng-show="station.status=='CLOSED'" title ="Station fermée" style="color:red">
                    <i class="fa fa-exclamation"></i>FERMEE </span>

          
           <span id = "star" ng-show="station.bonus==true" title ="Station Bonus" >
                    <i class="fa fa-star"></i> </span>

          <span class ="bikes"> 

            <span ng-show="station.banking==true" title ="Terminal de paiement" >
                      <i class="fa fa-credit-card" style ="color : grey"></i> </span>


            <span ng-class ="{true:'unvailable', false:'available'}[station.available_bikes==0]" title ="Vélos disponibles à la station" >
                    {{station.available_bikes}}     <i class="fa fa-bicycle"></i> </span>

                  <span ng-class ="{true:'unvailable', false:'available'}[station.available_bike_stands==0]" title ="Places disponibles" >
                    {{station.available_bike_stands}} <i class="fa fa-unlock-alt"></i></span>

            </span>


          <span class="address"> <br>{{station.address}}</span> 

          <span id="details" class="btn-floating" role="button" ng-click="showDetails =!showDetails" ><i class="fa fa-plus"></i></span>

            <div class="stationDetails" ng-class="{ 'hidden': !showDetails }" >
                <span class="address"> Dernière mise à jour : {{station.last_update | ago }} 
                </span> 
                <span class="address"> <br>{{station.address}}</span> 
                <a href="#/details/{{station.number}}">En savoir plus</a></div>
         </div> 





    </div> 



</div>
